.header {
    border-bottom: 1px solid #1f1f1f;
}

:global(.light) .header {
    border-color: #e1e1e1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}
