.input {
  border: none;
  border-radius: 9999px;
  background-color: #505050;
  padding: 12px 30px;
  color: #f9f9f9;
  font-size: 18px;
}

.input::placeholder {
  color: #b5b5b5;
}

.button {
  cursor: pointer;
  margin-left: 15px;
  border: none;
  border-radius: 9999px;
  background-color: #ff4869;
  padding: 11px 32px;
  color: #ffffff;
  font-size: 18px;
}
