.empty {
  color: #b5b5b5;
}

.movieReviewList {
  padding: 0;
  height: 300px;
  overflow-y: auto;
  list-style: none;
}

.movieReviewList > .movieReview {
  margin: 16px 0;
}

.movieReview {
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  background: #1f1f1f;
  padding: 25px;
}

.date {
  color: #b5b5b5;
  font-weight: 300;
}

.age {
  flex-grow: 1;
}
